doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Using socket io
  body
    h1 DOM with Socket IO
    textarea(id='t1')
    script(type='text/javascript', src='/socket.io/socket.io.js"')
    script(type='text/javascript', src='./recieve.js')
